################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
/LenchScripterMod/bin/Debug
/LenchScripterMod/obj/Debug
/LenchScripterMod/LenchScripterMod.pfx

/LenchScripterMod/bin/Release
/LenchScripterMod/obj/Release
