################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/BesiegeScripterMod/LenchScripterMod.pfx
/.vs/BesiegeScripterMod/v14
/BesiegeScripterMod/bin/Debug
/BesiegeScripterMod/obj/Debug
